---
permalink: /404.html
---

{% assign lang = page.lang | default: site.default_lang %}
<!DOCTYPE html>
<html lang="{{ lang }}">
    {% include layouts/head.html %}
    <body ontouchstart="">
    <!--[if lt IE 10]>
    <div class="alert-danger" role="alert">你的浏览器实在太太太旧了，放学别走，升级完浏览器再说！<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
    <![endif]-->
    {% if site.gray %}
        <div id=all class="gray" data-theme="{{ site.theme-color }}">
    {% else %}
        <div id="all" data-theme="{{ site.theme-color }}">
    {% endif %}
            <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
            <div class="np-banner">
                <h1>404</h1>
                <span class="subheading">{{ page.description }}</span>
                <a href="{{ site.nav.home }}" class="btn">Back to Home</a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
        <script src="https://at.alicdn.com/t/c/font_3046306_ujr2yq34hw.js"></script>
        {% include plugins/analytics/analytics.html %}
        {% include plugins/others/pwa.html %}
        {% include plugins/others/webpusher.html %}
  </body>
</html>
