<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author" content="{{ site.author }}">
    {% if layout.type == "post" %}
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="keywords"
        content="{% if page.tags.size > 0 %}{% for tag in page.tags  %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}">
    {% if page.next.url %}
    <meta property="og:previous_url" content="{{ page.next.url | relative_url }}">
    {% endif %}
    {% if page.previous.url %}
    <meta property="og:next_url" content="{{ page.previous.url | relative_url }}">
    {% endif %}
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keyword }}">
    {% endif %}
    <meta property="post-date-format" content="{{ site.formats.time }}">
    {% case site.formats.time %}
    {% when 0 %}
    <meta property="post-date" content="{{ page.date | date: '%Y-%m-%d %H:%M:%S %z' }}" />
    {% when 1 %}
    <meta property="post-date" content="{{ page.date | date_to_rfc822 }}" />
    {% else %}
    <meta property="post-date" content="{{ page.date | date: '%Y年%-m月%-d日 %H:%M:%S %z'  }}" />
    {% endcase %}
    {% if site.calendar %}
    <meta property="calendar-scale" content="{{ site.calendar.scale | default: 'year' }}" />
    <meta property="calendar-scheme" content="{{ site.calendar.scheme | default: 'null' }}" />
    <meta property="calendar-color" content="{{ site.calendar.color | default: 'null' }}" />
    {% endif %}
    <!-- Open Graph -->
    <meta property="og:title"
        content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:baseurl" content="{{ site.baseurl }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:gray" content="{{ site.gray }}">
    <meta property="og:lang" content="{{ lang }}">
    {% if site.alivetime %}
    <meta name="alivestart" content="{{ site.alivestart }}">
    {% endif %}
    {% if site.google_search %}
    <meta name="google-site-verification" content="{{ site.google_search }}" />
    {% endif %}
    <meta name="theme-color" content="{{ site.pwa.color }}" />
    <link rel="manifest" href="{{ "/manifest.json" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" href="{{ "/assets/img/touch/apple-touch-icon.png" | prepend: site.baseurl }}" />
    <link rel="Shortcut Icon" href="{{ site.favicon | prepend: site.baseurl }}">
    <link rel="icon" href="{{ site.favicon | prepend: site.baseurl }}" type="image/x-icon" />
    <link rel="bookmark" href="{{ site.favicon | prepend: site.baseurl }}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.min.css" async>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown-light.min.css">
    {% if layout.type == "post" %}
    {% include plugins/others/social_css.html%}
    {% include plugins/markdown/fancybox_css.html %}
    {% else %}
    {% include plugins/others/calendar_css.html %}
    {% endif %}
    {% include plugins/markdown/prism_css.html %}
    {% include plugins/comments/waline_css.html %}
    {% include plugins/comments/artalk_css.html %}
    {% include plugins/search/docsearch_css.html %}
    <link rel="stylesheet" href="{{ "/assets/css/app.min.css" | prepend: site.baseurl }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
</head>